@import '../../assets/styles/variables';

.main {
  height: calc(100% - 130px);
  margin-left: 100px;
  padding: 20px;
  .mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .filtersContainer {
    display: flex;
    > * {
      margin-right: 20px
    }
  }
  .listingContainer {
    overflow: auto;
    height: calc(100% - 130px);
  }
}

.generateReportButton {
    padding: 10px;
    background: $color-primary;
    color: #fff;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
}
