@import "../../assets/styles/variables";

.sidebar {
  position: fixed;
  left: 0;
  height: 100vh;
  padding: 35px 0;
  width: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  .sidebarLogo {
    margin-bottom: 25px;
  }
}
