@import "../../assets/styles/variables";

.filters {
  padding: 10px;
  background: $color-secondary;
  color: #fff;
  border: none;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M7 11L0.937823 0.499999L13.0622 0.5L7 11Z' fill='white'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 5px);
  background-position-y: 12px;
  min-width: 125px;
  cursor: pointer;
}
