* {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 65px;
}


.main,
.header,
.sidebar,
.footer {
  border: 1px solid black;
}

